/*styles of the navigation bar*/
@use '../utils' as u;
.navigation{
    display: flex;
    justify-content: end;    
    align-items: center;
    gap: 40vw;
    padding-top: 0.5em;
    margin-top: 2%;
    @include u.breakpoint-down(small){
        justify-content: space-between;
        .navUl{
            display: none;
        }
        .hamborgaNavClose{
            display: none;
        }
        .searched{
            display: none;
        }

    }
}
.navActive{
    @include u.breakpoint-down(small){
        display: block;
        justify-content: center;
        padding: 0;
        margin: 0;
        color: var(--txt);
        background-color: hsla(0, 0%, 0%, 0.795);
        a{
            color: var(--txt);
        }
        #hamborgerIcon{
            display: none;
        }
        #cartCount{
            display: none;
        }
        .navUl{
            display: flex;
            margin-top: 5em;
            flex-direction: column;
            gap: 2em;
            font-size: 5.5vw;
        }
        .hamborgaNavClose{
            display: flex;
            img{
                width: 2.8em;
                height: 2.8em;
                margin: 1em 0 0 1em;
            }
        }
        .searched{
            display: none;
        }
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
       }
}
.navUl{
    display: inherit;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 0;
    margin: 0;
    list-style: none;
 }
    #product{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .newIcon  {
            position: absolute;
            width: auto;
            height: auto;
            top: -1em;
            img {
                max-width: 1.2em;
                max-height: 1.2em;
            }
        }
    }
    
#navSearchCart {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    height: 100%;
    width: auto;
    i> img{
        width: 1.3em;
        height: 1.3em;
    }
   #cartCount {
    #cardItemCountZone{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0;
        margin: 0;

    }
    
    #cardItemCount{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -1em;
        left: 1.5em;
        width: 1em;
        height: 1em;
        padding: 0.2em;
        background-color: var(--txtbg);
        color: var(--txt);
        border-radius: 50%;
        border: none;
        /* to be changed in typographies*/ 
        font-size: 0.8em;
    }
    #cartCount >i,img{
        background-color: var(--bgcart);
        border-radius: 50%;
        border: none;
        width: 1.5em;
        height: 1.5em;
        padding: 0.4em;
    }
   }
}
#cardItemCountZone{
    @include u.breakpoint-down(small){
        img{
            width: 2.8em;
            height: 2.8em;
        }
    }
}
/* end of styles of the navigation bar*/
#Productdetails{
    @include u.breakpoint-down(small){
        display: none;

}
}
#countItemZone{
    background-color: var(--txthead2);
    padding: 2% 0 0 0 ;
    width: 11vw;
    height: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    span{
        font-weight: 700;
        font-size: 1vw;
    }
    #upClick, #downClick{
        padding: 5% 0;
    }
    #iCount{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        border: none;
    }
    #icons{
        display: flex;
        gap: 1em;
    }
    i>img{
        width: 1.8em;
        height: 1.8em;
        padding: 2% 2% 2% 0;
}
}
#shopbutton{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--bgcart);
    padding: 3%;
    margin: 5% 0;
    border-radius: 50px;
    width: 14vw;
    border: none;
    #shoptCartAdd{
        display:flex ;
        justify-content: center;
        align-items: center;
            background-color: var(--bgbasket);
        padding: 5%;
        border: none;
        border-radius: 50%;
        img{
            width: 1.5vw;
            height: 1.5vw;
        }
    }
    button{
        border: none;
        background-color: transparent;
        color: var(--txt);
        font-size: 1.5vw;
        margin: 0 0 0 8%;
        font-weight: 400;
    }

}
#linkToProduct{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 2%;
    a{
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
        text-decoration: none;
        font-size: 1.3vw;
        gap: 0;
        @include u.breakpoint-down(small){
        font-size: 5vw;
        gap:0;
        }
        span{
            margin-right: 2%;
        }
    }
}
#itemNav{
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;
    #itemNavList{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include u.breakpoint-down(small){
           display: grid;
           grid-template-columns: 1fr 1fr;
           grid-template-rows: 12fr;
           gap: 0.5em;
           width: 100%;
           height: inherit;
           margin: 0;
           padding: 1em 0;
        }
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 1vw;
            gap: 0.2em;
            margin-bottom: 8rem;
            span{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .priceMobile{
                    display: none;
                   }
            }
            @include u.breakpoint-down(small){
                margin: 0;
                padding: 0;
                width: min-content;
                font-size: 5vw;
                border-radius: 12px;
                box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px;
                span{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .priceMobile{
                        margin-top: 0.5em;
                        display: flex;
                        color: var(--txthead);
                       }
                }
            }
            img{
                width: 5.5vw;
                height: 5.5vw;
                @include u.breakpoint-down(small){
                    width: 45.5vw;
                    height: 43.5vw;
                    border-radius: 12px;
                }
            }
        }
        li:nth-child(3){
            margin-bottom: 0;
          
        }
        li:nth-child(4){
           display: none;
           @include u.breakpoint-down(small){
            display: block;   
        }
          
        }
        
    }
    
}

/*============================== Product page styling  ================================*/
#productbackground{
    background-image: url(../resources/images/product-page/banner-iplace-home-slides-081021-iphone-13-varejo-banner-1-desk-1.jpeg);
    background-repeat: no-repeat;
    padding-inline: 2em;
    background-size: contain;
    margin: 1.5em 0 2.5em 0;
    @include u.breakpoint-down(small){
        background-image: none;
        font-size: 1em;
        margin: 0 0 1.5em 0;
        padding: 1vw 0;
        
    }
    
}
.smallNavIndicator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--txt);
    margin-top: 1em;
    @include u.breakpoint-down(small){
        padding: 0 0 1em 0;
        margin: 0;
                :nth-child(1){
            display: none;
        }
    }
    a{
        color: var(--txtbg);
    }
    .filters{
        display: inherit;
        justify-content: end;
        align-items: center;
        gap: 1em;
        p{
            color: var(--txtbg);
        }
        select{
            border-radius:12px;
            border: none;
            min-width: 8vw;
            min-height: 1.5vw;
            padding: 0.5em;
            box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px;
            @include u.breakpoint-down(small){
                align-self: end;
            }
        }
    }
}
#productCart{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin: 30vw 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    @include u.breakpoint-down(small){
        grid-template-columns: 6fr 6fr;
        grid-template-rows: auto;
        column-gap: 0.5em ;
        row-gap: 1em;
        margin: 0;
    }
    .itemCart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px;
        border-radius: 12px;
        width:min-content;
        height: auto;
        @include u.breakpoint-down(small){
            width: min-content;
            height: auto;
            img{
               width: 5.5vw;
                height: 5.5vw;
                
            }
        }
        img{
            width: 15vw;
            align-self: center;
            height: 15vw;
            margin-inline: 2em;
            margin-bottom: 0;
            @include u.breakpoint-down(small){
                margin-inline: 1em;
                width: 30vw;
                 align-self: center;
                 height: 30vw;
            }
        }
        .phoneAction{
            display: grid; 
            justify-content: start;
            line-height: 0.005em;
            padding-inline: 1em;
            border-radius: 12px;
            background-color: var(--txt);
            box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px;
            margin: 0;
           
            :first-child{
                align-self: center;
                font-size: 1.8vw;
                font-weight: 700;
                @include u.breakpoint-down(small){
                    font-size: 4vw;
                }
            }
            :nth-child(2){
                color: var(--txtbg);
                font-weight: 600;
                font-size: 1.2vw;
                @include u.breakpoint-down(small){
                    font-size: 3vw;
                }
            }
            :nth-child(3){
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 2em;
                button{
                    border: none;
                    background-color: var(--bgcart);
                    color: var(--txt);
                    font-size: 1em;
                    border-radius: 12px;
                    width: 100%;
                    font-weight: 500;
                    padding-inline: 1em;
                    @include u.breakpoint-down(small){
                        font-size: 2.5vw;
                        width: max-content;
                        margin: 0;
                        height: max-content;
                        padding: 0.2em 1em;
                    }
                }
                p{
                    color: var(--bgbasket);
                }
            }
        }
    }
}
/*============================== Product page styling  ================================*/
/*================================ product details styling ===============================*/
main{
    margin-inline: 10em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    border: 2px solid red;
    .priseDetails{
        padding: 0;
        
        font-size: 1.5vw;
        color: var(--txthead);
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .D-rotate{
        justify-content: start;
        width: 70%;
        height: 34vw;
    }
    .quantity{
border: 2px solid red;
font-size: 1.2em;
margin: 0;
        padding: 0;
    }
    h2{
        margin: 0 0 0.5em 0;
        padding: 0;
        font-size: 1.5em;
    }
    span{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: flex-start;
        margin-bottom: 0.1em;
        font-size: 1.2em;
        img{
            width: 1.2em;
            height: 1.2em;
        }

    }
    details{
        color: var(--bgcart);
        font-size: 1.2em;

        margin:0;
    }
    .shopping{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.2em;
        margin-top: 2%;
       
        button{
            border: none;
            font-size: 1.1em;
            font-weight: 700;
            width: 15vw;
            border-radius: 12px;
            background-color: var(--bgbasket);
            padding: 0.5em 0;
            height: min-content;
        }
    }
    @include u.breakpoint-down(small){
        .D-rotate{
            width: 90vw;
            height: 72vw;
        }
        display: flex;
        flex-direction: column;
        .quantity{
            align-self: center;
        }
        .priseDetails{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 1.1em;
            font-weight: 400;
            color: var(--txtbg);
        }
        h2{
            font-size: 1.3em;
            color: var(--txthead);
            font-weight: 700;
        }
        span{
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: flex-start;
            margin-bottom: 2%;
            img{
                width: 1.2em;
                height: 1.2em;
            }
        }
        details{
            color: var(--txthead);
            font-size: 1.2em;
        }
        .shopping{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1.2em;
            margin-top: 2%;
           
            button{
                border: none;
                font-size: 1.1em;
                font-weight: 700;
                width: 35vw;
                border-radius: 12px;
                background-color: var(--bgbasket);
                height: 10vw;
            }
        }
    }
}

.quantity{
    width: min-content;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 0.4em;
    background-color: var(--txthead2);
    span{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5em;
        height: 1.5em;
        margin-inline: 0.5em;
    }
    button{
        border: none;
        background-color: transparent;
    }
    img{
        width: 2.1em;
        height: 2.1em;
    }
    @include u.breakpoint-down(small){
        width: auto;
        padding: 0.5em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        margin-bottom: 0.4em;
        background-color: var(--txthead2);
        span{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.5em;
            height: 1.5em;
            margin-inline: 0.5em;
        }
        button{
            border: none;
            background-color: transparent;
        }
        img{
            width: 2.1em;
            height: 2.1em;
        }
       
    }
} 