main{
    margin: 5% 0 0 0;
    border: 2px solid red;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    grid-template-rows: auto;
    height: 43vw;
    .Productdetails{
        
    }
}
