main{
    margin: 0 ;
    padding: 3% 0 0 0;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    grid-template-rows: auto;
    height: auto;
    gap: 0;

}
#itemNavList{
    margin: 0;
}
#textzone{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
    gap: 0;
}
