:root {
    --bgcolor: hsl(0, 0%, 99%);
    --bgbasket: hsl(54, 100%, 41%);
    --bgcart: hsl(0, 0%, 0%);
    --txt: hsl(0, 0%, 100%);
    --txtbg: hsl(0, 100%, 50%);
    --txthead: hsl(120, 65%, 48%);
    --txthead1: hsl(0, 0%, 46%);
    --txthead2: hsl(0, 0%, 87%);
}