*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
   
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    width: 20vw;
    margin: 0;
    padding: 0 0 5% 0;

}
h2{
    font-size: 3vw;
    font-weight: 300;
    margin: 0;
    color: var(--txthead1);
    padding: 0 0 5% 0;
}
h2> span{
    color: var(--txthead);
}
h3{
    font-weight: 400;
    font-size: 2vw;
    margin: 0;
    padding: 0 0 5% 0;
    span{
        font-weight: 700;
    }
}
li{
    font-weight: 700;
}
